.sidebar {
    overflow: auto;
}

.sidebar-about {
    line-height: 1.25;
}

.sidebar-about h1 {
    font-family: inherit;
    font-size: 1.75rem;
}

li > dl, li > ol, li > ul {
    margin-bottom: 0;
}

table {
    border: 0;
    display: block;
    overflow-x: auto;
}

th {
    text-align: left;
}
