{% extends "layout.html" %}
{% block title %}
    Login Page
{% endblock %}
{% block body %}
    {% if session.get('logged_in') %}
        <p>Welcome, you are logged in </p>
    {% else %}
        <p>Please log in:</p>
        <form action="/login" method="POST"/>
            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

        <p>Or register:</p>
        <form action="/register" method="POST"/>
            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
        </form>
    {% endif %}
{% endblock %}          
