{% extends 'orders/base.html' %}
{% block title %}
    Pinocchio Menu
{% endblock %}

{% block body %}
    <h2>Welcome {{ user }} to Pinocchio's Pizza & Subs</h2>

    <a href="{% url 'logout' %}" style="float: right">Logout</a>

    <h3>Menu</h3>

    <h4>Pizza's</h4>
    {% for pizza in pizzas %}
        <li>{{ pizza }}</li>
    {% endfor %}       

    <h4>Pizza Toppings</h4>
    <ul>
        {% for topping in toppings %} 
            <li>{{ topping }}</li>
        {% endfor %}
    </ul>

    <h4>Subs</h4>
    <ul>
        {% for sub in subs %}
            <li>{{ sub }}</li>
        {% endfor %}
    </ul>

    <h4>Sub Extras</h4>
    <ul>
        {% for extra in subextras %}
            <li>{{ extra }}</li>
        {% endfor %}
    </ul>

    <h4>Pasta</h4>
    <ul>
        {% for pasta in pastas %}
            <li>{{ pasta }}</li>
        {% endfor %}
    </ul>

    <h4>Salad</h4>
    <ul>
        {% for salad in salads %}
            <li>{{ salad }}</li>
        {% endfor %}
    </ul>
    
    <h4>Dinner Platters</h4>
    <ul>
        {% for platter in platters %}
            <li>{{ platter }}</li>
        {% endfor %}
    </ul>
{% endblock %}