{% extends 'orders/base.html' %}
{% block title %}
    Pinocchio Menu
{% endblock %}

{% block script %}
    <script src="../../static/orders/main.js"></script>
{% endblock %}

{% block body %}
    <h2>Welcome {{ user }} to Pinocchio's Pizza & Subs</h2>

    <a href="{% url 'logout' %}" style="float: right">Logout</a>

    <h3>Menu</h3>

    <h3>My Cart</h3>

    <ul id="cart"></ul>
    <div id="checkout">
        <button id='submitCart'>Checkout</button>
        <button id='clearCart'>Clear Cart</button>
    </div>

    <div id="getToppings">
        <h3>Select Toppings</h3>
        <form action="{% url 'login' %}">
            {% for topping in toppings %}
                <input type="checkbox" name="topping_selection" value="{{ topping }}" 
                onclick="return keepCount()" class="chk">
                    {{ topping }}
                <br>
            {% endfor %} 
            <input type="submit" value="Submit">
        </form>
    </div>

    <h4>Pizza's</h4>
    {% for pizza in pizzas %}
        <li data-set>{{ pizza }}<button data-pizza="{{ pizza }}">Add to cart</button></li>
    {% endfor %}       

    <h4>Pizza Toppings</h4>
    <ul>
        {% for topping in toppings %} 
            <li>{{ topping }}<!--button data-pizza="{{ topping }}">Add to cart</button-->
        {% endfor %}
    </ul>

    <h4>Subs</h4>
    <ul>
        {% for sub in subs %}
            <li>{{ sub }}<button data-pizza="{{ sub }}">Add to cart</button></li>
        {% endfor %}
    </ul>

    <h4>Sub Extras</h4>
    <ul>
        {% for extra in subextras %}
            <li>{{ extra }}<!--button data-pizza="{{ extra }}">Add to cart</button></li-->
        {% endfor %}
    </ul>

    <h4>Pasta</h4>
    <ul>
        {% for pasta in pastas %}
            <li>{{ pasta }}<button data-pizza="{{ pasta }}">Add to cart</button></li>
        {% endfor %}
    </ul>

    <h4>Salad</h4>
    <ul>
        {% for salad in salads %}
            <li>{{ salad }}<button data-pizza="{{ salad }}">Add to cart</button></li>
        {% endfor %}
    </ul>
    
    <h4>Dinner Platters</h4>
    <ul>
        {% for platter in platters %}
            <li>{{ platter }}<button data-pizza="{{ platter }}">Add to cart</button></li>
        {% endfor %}
    </ul>
{% endblock %}