{% extends 'orders/base.html' %}
{% block title %}
    Pinocchio Menu
{% endblock %}

{% block script %}
    <script src="../../static/orders/main.js"></script>
{% endblock %}

{% block body %}

    <div class="container" id="confirmItem">
        <h3>Confirm Item</h3>
        <form action="{% url 'add_to_order' %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-5">
                    <div id="product_div">
                        Product: <input class="form-control" type="text" name="product" id="product" readonly/><br/>
                    </div>
                    <div id="pizza_base_div">
                        Pizza Base: <input class="form-control" type="text" name="pizza_base" id="pizzaType" readonly/><br/>
                    </div>
                    <div id="size_div">
                        Size: <input class="form-control" type="text" name="size" id="size" readonly/><br/>
                    </div>
                    <div id="price_div">
                        Price: <input class="form-control" type="text" name="price" id="price" readonly/><br/>
                    </div>
                    <div id="pizza_toppings">
                        Toppings: (select <span id="num_toppings">0</span>)
                        <select multiple id="pizza_toppings_select" size=10 onchange="checkNumToppings()">
                        {% for topping in toppings %}
                            <option value={{topping}} on>{{ topping }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>

    <div class="container" id="showMenu">
        <h2>Welcome {{ user }} to Pinocchio's Pizza & Subs</h2>

        <a href="{% url 'logout' %}" style="float: right">Logout</a>

        <h3>Menu</h3>

        <h3>My Cart</h3>

        <ul id="cart">
            {% for order in orders %}
                <li>{{ order }}</li>
            {% endfor %}
        </ul>
        <div id="checkout">
            <button id='submitCart'>Checkout</button>
            <button id='clearCart'>Clear Cart</button>
        </div>

        <h4>Pizza's</h4>
        {% for pizza in pizzas %}
            <li data-set>{{ pizza }}<button class="addToOrder" data-product="{{ pizza }}">Add to cart</button></li>
        {% endfor %}

        <h4>Pizza Toppings</h4>
        <ul>
            {% for topping in toppings %}
                <li>{{ topping }}</li><!--button class="addToOrder" data-product="{{ topping }}">Add to cart</button-->
            {% endfor %}
        </ul>

        <h4>Subs</h4>
        <ul>
            {% for sub in subs %}
                <li>{{ sub }}<button class="addToOrder" data-product="{{ sub }}">Add to cart</button></li>
            {% endfor %}
        </ul>

        <h4>Sub Extras</h4>
        <ul>
            {% for extra in subextras %}
                <li>{{ extra }}</li><!--button class="addToOrder" data-product="{{ extra }}">Add to cart</button></li-->
            {% endfor %}
        </ul>

        <h4>Pasta</h4>
        <ul>
            {% for pasta in pastas %}
                <li>{{ pasta }}<button class="addToOrder" data-product="{{ pasta }}">Add to cart</button></li>
            {% endfor %}
        </ul>

        <h4>Salad</h4>
        <ul>
            {% for salad in salads %}
                <li>{{ salad }}<button class="addToOrder" data-product="{{ salad }}">Add to cart</button></li>
            {% endfor %}
        </ul>
        
        <h4>Dinner Platters</h4>
        <ul>
            {% for platter in platters %}
                <li>{{ platter }}<button class="addToOrder" data-product="{{ platter }}">Add to cart</button></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}