{% extends 'orders/base.html' %}
{% block title %}
    Pinocchio Menu
{% endblock %}

{% block script %}
    <script src="../../static/orders/main.js"></script>
{% endblock %}

{% block body %}

<div id="confirmItem">
    <h3>Confirm Item</h3>
    <form action="{% url 'add_to_order' %}" method="post">
        {% csrf_token %}
        <input type="">
        <!-- {% for topping in toppings %}
            <input type="checkbox" name="topping_selection" value="{{ topping }}" 
            onclick="return getToppings()" class="chk">
                {{ topping }}
            <br>
        {% endfor %}  -->
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}